@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');   

:root {
    --cor--primaria: #000000;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #22D4FD;
    --cor--hoover: #272727;

    --fonte--primaria: 'Krona One', sans-serif;
    --fonte--secundaria: 'montserrat', sans-serif;

    --tamanho-da-fonte-principal: 1.5rem;
}

body {
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor--terciaria);
    font-family: var(--fonte--secundaria);
    font-weight: 600;
    font-size: var(--tamanho-da-fonte-principal);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte--primaria);
    color: var(--cor--secundaria);
    font-size: 2.25rem;
    line-height: 56px;
}

.texto_destacado {
    color: var(--cor--terciaria);
}

.apresentacao__conteudo__texto {
    color: var(--cor--secundaria); 
    font-family: var(--fonte--secundaria); 
    font-size: var(--tamanho-da-fonte-principal); 
    line-height: 36px; 
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte--primaria);
    font-weight: 400;
    font-size: var(--tamanho-da-fonte-principal);
    color: var(--cor--secundaria);
    line-height: 40px;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte--secundaria);
    font-size: var(--tamanho-da-fonte-principal);
    font-weight: 600;
    text-align: center;
    width: 50%;
    border-radius: 8px;
    padding: 21.5px 0;
    border: 2px solid var(--cor--terciaria);
}

.apresentacao__links__botao:hover {
    background-color: var(--cor--hoover);
}

.apresentacao__imagem {
    height: 50%;
}

.rodape {
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    padding: 24px;
    text-align: center;
    font-size: var(--tamanho-da-fonte-principal);
    font-family: var(--fonte--secundaria);
    font-weight: 400;
}

@media (max-width: 1300px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}